section{
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------screen1*/
#screen-1{
    display: block;
    overflow: hidden;
}

#cover-image{
    height: 100%;
    width: 100%;

    background: url("/assets/img/sverige-flag.jpg") no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: 3;

    animation-name: image-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#cover-text{
    height: 45%;
    width: 85%;

    text-align: center;
    color: whitesmoke;
    background-color: rgba(7, 14, 36, 0.7);

    position: fixed;

    padding: 22px 24px 20px;
    top: 10%;
    right: 7.5%;
    left: 7.5%;

    z-index: 4;
}

#button-start{
    font-size: 3rem;
    margin-top: 5%;
}

/*--------------------------------------------------screen2*/
#screen-2{
    display: block;
    margin: auto;
    content: center;
    text-align: center;

    position: inherit;
    cursor: pointer;
    z-index: 2;
}

#container-btn-back{
    height: 6px;
    width: 100%;
    
    position: relative;
    display: block;
}

#button-back{
    height: 6%;
    width: 25%;

    top: 4px;
    bottom: 4px;
    left: 6px;
    padding: 2px 2px 2px;
    position: fixed;

    font-size: 1.75em;
    text-align: center;
}

.cards-container{
    height: 90%;
    width: 100%;

    position: absolute;
    overflow: scroll;
    top: 10%;
    bottom: 4px;
}

.cards{
    height: 210px;
    width: 210px;
    margin: 1% 1% 1% 1%;

    border: darkgray solid 1px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}

.cardSelected{
    border:lightslategray;
    border-style: inset;
}

.cardGreen{
    background-image: none !important;
    background-color: greenyellow;
}

/*--------------------------------------------------screen3*/
#screen-3{
    z-index: 1;
}

.container{
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;

    background-color: whitesmoke;
}


/*-----------------------------media queries*/
/*ipad screens only - under 1000px width*/
@media screen and (min-width: 1025px){
.cards{
    height: 110px;
    width: 110px;
}
#cover-text{
    margin-top: 18%;
}
#cover-text h2{
    font-size: 3em;
}
}

/*mobile screens - under 480px width*/
@media screen and (max-width: 480px){
.cards{
    height: 110px;
    width: 110px;
}
#cover-text{
    height: 65%;
    width: 85%;
}
}

/*very small mobile screens - under 320px width*/
@media screen and (max-width: 320px){
.cards{
    height: 90px;
    width: 90px;
}
#cover-text{
    height: 85%;
    width: 85%;
}
}