.overlay{
    height: 100%;
    width: 100%;

    align-content: center;

    position: fixed;
    z-index: 1;

    background-color: ghostwhite;
}

.container-flex{
    display: block;
    text-align:center;
    padding: 4% 6% 4%;
    margin: 0 auto;
    position: absolute;
}

.screen-text{
    font-size: 3.6rem;
    margin-top: 30%;
    text-align: center;
}

#button-start{
    font-size: 3rem;
    margin-top: 5%;
}

#button-top-right{
    position: absolute;
    margin-right: 2%;
    margin-top: 2%;
}

.cards-container{
    height: 90vw;
    width: 90vw;

    margin: 4vw 4vw 4vw 4vw;
    align-content: center;
    z-index: 2;

    background-color: aliceblue;
}

.cards{
    height: 30%;
    width: 30%;
    margin: 1% 1% 1% 1%;

    background-color: beige;
    display: inline-block;
}